.education-swiper .swiper-button-next,
.education-swiper .swiper-button-prev {
  color: #6e07f3;
}

.education-swiper .swiper-pagination-bullet {
  background: #6e07f3;
  margin-top: 10px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}
